/*main and general content styling*/

main {
  background-color: blue;
  width: 80vw;
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

/*styling for the answer window*/
#answer {
  background-color: limegreen;
  position:absolute;
  left:6.5vw;
  width:85vw;
  top:20vh;
  height:50vh;
  z-index: 5;
}

/* styling for the question windows*/
.question {
  height: 50px;
  overflow:hidden;
  padding-left: 20px;
}

#Q1 {
  background-color: red;
}

#Q2 {
  background-color: orange;
}

#Q3 {
  background-color: yellow;
}

#Q4 {
  background-color: greenyellow;
}

#Q5 {
  background-color: cyan;
}

#Q6 {
  background-color: blue;
}

#Q7 {
  background-color: blueviolet;
}

#Q8 {
  background-color: purple;
}

/* Animations */

.elemDisplay {
  position: relative;
  animation-name: show;
  animation-duration: 2s;
}

@keyframes show {
  0%   {left:2000px}
  100% {left:0px}
}