/*main and general content styling*/

main {
  background-color: blue;
  width: 80vw;
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

/*styling for the answer window*/
#answer {
  background-color: limegreen;
  position:absolute;
  left:6.5vw;
  width:85vw;
  top:20vh;
  height:50vh;
  z-index: 5;
}

/* styling for the question windows*/
.question {
  height: 50px;
  overflow:hidden;
  padding-left: 20px;
}

.question button {
  width:30vw;
  height:6em;
  border-radius: 20px;
  margin-bottom: 10vw;
  outline: none;
  overflow: hidden;
}

.question button>h3 {
  font-family: 'Times New Roman', serif;
  font-size: 2em;
  font-weight: 900;
  text-shadow: 2px 2px linen;
  position: relative;
  z-index: 100;
}

.question button:active {
  border: 5px solid magenta;
}

#Q1, .R {
  background-color: red;
}

#Q2, .O {
  background-color: orange;
}

#Q3, .Y {
  background-color: yellow;
}

#Q4, .G {
  background-color: greenyellow;
}

#Q5, .C {
  background-color: cyan;
}

#Q6, .B {
  background-color: blue;
}

#Q7, .V {
  background-color: blueviolet;
}

#Q8, .P {
  background-color: purple;
}

/* Styling for rainbow button */

.colorbar {
  height:300px;
  display: flex;
  position:relative;
  top:-100px;
  animation-name: buttonBack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.colorbar>div {
  width:200px;
  z-index: 1;
}

/* Animations */

.elemDisplay {
  position: relative;
  animation-name: show;
  animation-duration: 2s;
}

@keyframes show {
  0%   {left:2000px}
  100% {left:0px}
}

@keyframes buttonBack {
  0%   {left:400px}
  100% {left:-400px}
}